* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  place-content: center;
  background: linear-gradient(
    135deg,
    rgba(255, 155, 23, 0.2),
    rgba(150, 230, 100, 0.3),
    rgba(100, 255, 255, 0.7)
  );
}

/* فرم ثبت‌نام */
.register {
  width: 100%;
  min-width: 450px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  overflow: hidden;
  backdrop-filter: blur(6px);
}

.register h1 {
  text-align: center;
  padding: 20px 0;
  font-size: 1.8rem;
  color: #fff;
}

/* فرم داخلی */
.registerForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 30px 30px;
}

.registerForm label {
  font-size: 1rem;
  color: #fff;
}

.registerForm input{
    width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;

}
.registerForm textarea {
  max-width: 400px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
}

.registerForm button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: linear-gradient(
    45deg,
    rgba(255, 155, 23, 0.6),
    rgba(150, 230, 100, 0.6),
    rgba(100, 255, 255, 0.9)
  );
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease;
}

.registerForm button:hover {
  opacity: 0.8;
  transform: scale(1.02);
}

/* پیام خطا */
.errorMsg {
  color: red;
  font-size: 0.95rem;
  margin-top: 5px;
  text-align: center;
}
